.finish-pay__card-item,.finish-pay__card-item-main{
    position: relative;
}
.error-mess-card{
    position: absolute;
    color: red;
    top: 100%;
    width: 250px;
    right: -100px;
}

@media(width<500px){
    
    .error-mess-card{
        
        top: 95%;
        right: -115px;
    }
    .error-twice{
        position: absolute;
        color: red;
        top: 95%;
        left: -5px;
    }
}